
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
font: normal normal 13px/16px "Open Sans", sans-serif;
background: #dfdfdf;
}

.container{
    position: relative;
padding: 20px;
width: 300px;
margin: 0 auto;
margin-top: 40px;
background: white;
border-radius: 30px;
box-shadow: 0 0 30px -10px #000;
}

form {
display: inline-block;
border-radius: 30px;
}

input{
padding: 4px 15px 4px 5px;
border-radius: 30px;
}

#button{
position: absolute;
display: inline-block;
background-color:#000000;
color:#ffffff;
border-radius: 100%;
text-align:center;
padding: 8px 10px;
right: 120px;
top: 115px;
font-size: 19px;

}

#button:hover{
cursor: pointer;
opacity: .8;}

ol {padding-left: 20px;}

ol li {padding: 5px;color:#000;}

ol li:nth-child(even){background: #dfdfdf;border-radius: 30px;}

.strike{text-decoration: line-through;}

li:hover{
  cursor: pointer;
 }

.delete {
	display: none;
}

li > crossOutButton {
    position: absolute;
	background: none;
	border: none;
	float: right;
    color:#bc0000;
	font-weight: 800;
    right: 32px;
}